/* styles.css */

/* Add styles here to customize the appearance of your app */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;1,100&family=Roboto:wght@300&display=swap');

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0px;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  -webkit-app-region: drag;
  max-width: 900px;
  margin: 0 auto;
}

.ql-container {
  font-family: 'Raleway', sans-serif;
}

.ql-editor {
  -webkit-app-region: no-drag;
  text-align: justify;
  hyphens: auto;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(213, 235, 242, 0.905);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: rgba(213, 235, 242, 0.905);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #ddd;
    color: black;
  }
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  /* height: 40px; */
  /* width: 40px; */
  -webkit-app-region: no-drag;
  /* font-size: 96px; */
  text-align: center;
  vertical-align: middle;
  font-size: x-large;
  cursor: pointer;
  opacity: 0.3;
  padding: 2px 12px 4px 12px;



}

.close-btn:hover {
  background-color: #555;
  color: white;
  border-radius: 4px;
  opacity: 1;
  /* padding: 4px; */
}

.maxmin-btn {
  position: absolute;
  right: 60px;
  top: 10px;
  /* height: 40px; */
  /* width: 40px; */
  -webkit-app-region: no-drag;
  /* font-size: 96px; */
  text-align: center;
  vertical-align: middle;
  font-size: x-large;
  cursor: pointer;
  opacity: 0.3;
  padding: 2px 12px 4px 12px;
}

.maxmin-btn:hover {
  background-color: #555;
  color: white;
  border-radius: 4px;
  opacity: 1;
  /* padding: 4px; */
}